<div class="container">
  <div class="row">
    <div class="grid_12">
      <div class="socials">
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-google-plus"></a>
        <a href="#" class="fa fa-youtube-play"></a>
      </div>
      <div class="copyright"><span class="brand">Programmers' Academy</span> &copy; <span id="copyright-year"></span> | <a href="#">Privacy Policy</a> <div>Website designed by Masters' students in<a href="https://computing.kau.edu.sa/Default-611-AR" rel="nofollow"> KAU</a></div>
      </div>
    </div>
  </div>
</div>
