<!--==============================
            Stuck menu
=================================-->
<section id="stuck_container">
  <div class="container">
    <div class="row">
      <div class="grid_12">
      <h1>
        <a href="/">
          <img src="images/logo.png" alt="Logo alt"  width="230px">
        </a>
      </h1>
        <div class="navigation ">
          <nav>
            <ul class="sf-menu">
             <!-- <li class="current"><a href="index.html">Home</a></li> -->
             <li><a href="/">Home</a></li>
             <li><a href="/services">Services</a></li>
             <li><a href="/contacts">Contacts</a></li>
             <li><a href="/login">Sign in</a></li>
             <li><a id="Reg" href="/register">Register</a></li>
           </ul>
          </nav>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </div>
</section>
