/* ------------ GHoroubs' pages Style -------------------- */
#Reg{ color: #821752;  }

#loginPlace{  float: left; margin-left: 36%; }

#buttonLoginMargin{  margin-right: 20%;  }

#adminMArgin{margin-bottom: 10%; }

#submitBut{
          	height: 33px;
            width: 266px;
          	float:left;
          	box-sizing: border-box;
          	-webkit-appearance: none;
          	-moz-box-sizing: border-box; /*Firefox 1-3*/
          	-webkit-box-sizing: border-box; /* Safari */
          	border: 1px solid #d3cdcd;
            color: #615f5f;
            padding: 6px 24px 7px;
            font: 300 14px/20px 'Open Sans', sans-serif;
            }

#Result{  color: green; margin-left:40%; font-size: 15px;  }

#sname{  padding: 10px; width: 100%; color: #615f5f;  }

#invite{  font-size: 20px; margin-left: 43%;}

#invite a{color: #821752; text-decoration: underline;}

.administratorLinks{
          margin-left: 42%;
          color: #821752;
          font-size: 20px;
          padding-top: 10px;
          }

.haveAccount{ padding-top: 20px; margin-left: 20%;  }

.haveAccount #Reg{  text-decoration: underline;  }

.haveAccount a:hover{  font-size: 20px;  }

.createS_divs{  display: block;  }

.backTo{    margin-top: 30px;
            margin-bottom:15%;
            margin-left: 20%;
            text-decoration: underline;
          }

.submitCreateSession{  margin-left: 37%; display: inline-block;  }

.backToAdmin{ margin-top: 90px;
              /* margin-bottom:8%; */
              margin-left: 43%;
              text-decoration: underline;}

.inviteMargin{margin-bottom: 30px; margin-left: 7%;}

/* ------------ The end of GHoroubs' pages Style -------------------- */
