<!doctype html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>

      </head>
  <body id="top" >
    <!--==============================
                  header
    =================================-->
    <header>
    <!--==============================
                Stuck menu
    =================================-->
    <%- include('../partials/header'); %>
    </header>

<center>






        <div class="container-fluid  "style="padding:0;height:15rem;">
          <img class="mission" src="images/aboutus-img1.jpg" alt="" style="width:100%;height:100%;">
          <div class=" text-center" style="  position: relative;  bottom:15rem; "><h3 >Our Mission</h3>
<div class="st1 "><span class="color1">To help anyone, anywhere to transform their life by learning programming.
  </span>
</div></div>
        </div>
<br>
</center>

<div class="container">
  <div class="row">
    <div class="grid_12">

  </div>
    <div class="grid_12">
      <div class="extra_wrapper">
        <center>

            <h3 class="head1">About US</h3>
        </center>
        <img src="images/aboutus-img2.jpg" alt="" width="20px" class="img_inner fleft">
  <div class="text1">
    <br>
          Programming Academy is a platform that provide many different courses to learn you
            how to code in many different programming languages by top instructors .  </div>
          <div class="st1">

            In Programming Academy ..
          <br>You can gain the experience and skills to move your programming level from beginner to expert.
          We can help you if you are not sure which programming language to choose to perform a specific task.
          <br>If you are interested in programming languages or you are looking to improve your career as programmer or you are wishing to enter the world of computer programming, we have the course for you! Enroll today and learn something new.

      </div></div>
      </div></div></div>
<br>
<hr>
<br>
    <center>    <h2>We can help you to ..</h2>
      <br>
      <div class="container">
        <div class="row"style=" padding:0 6rem;">

          <div class="grid_2">
            <div class="ih-item"><a >
            <div class="info helpu"style="box-shadow: 5px 5px 10px lightgrey;border-color:lightgray;border-style:solid;border-width:0.1rem;border-radius:1rem;">
              <h3 ><i class="fa fa-map-marker"style="font-size:3rem;padding:0;color:lightgreen;"></i>
                <p style="font-size:1.5rem;padding:0 0.2rem;">learn programming from anywhare</p></h3>
            </div></a></div>
          </div>
          <div class="grid_2">
            <div class="ih-item"><a>
            <div class="info helpu"style="box-shadow: 5px 5px 10px lightgrey;border-color:lightgray;border-style:solid;border-width:0.1rem;border-radius:1rem;">
              <h3 ><i class="fa fa-code"style="font-size:3rem;padding:0;color:lightblue;"></i>
                <p style="font-size:1.5rem;padding:0 0.2rem;">learn programming with experts</p></h3>
            </div></a></div>
          </div>
          <div class="grid_2">
            <div class="ih-item"><a>
            <div class="info helpu"style="box-shadow: 5px 5px 10px lightgrey;border-color:lightgray;border-style:solid;border-width:0.1rem;border-radius:1rem;">
              <h3 ><i class="fa fa-clock-o"style="font-size:3rem;padding:0;color:lightblue;"></i>
                <p style="font-size:1.5rem;padding:0 0.2rem;">learn programming at anytime and date.</p></h3>
            </div></a></div>
          </div>


          <div class="grid_2">
            <div class="ih-item  "><a>
            <div class="info helpu"style="box-shadow: 5px 5px 10px lightgrey;border-color:lightgray;border-style:solid;border-width:0.1rem;border-radius:1rem;">
              <h3 ><i class="fa fa-laptop"style="font-size:3rem;padding:0;color:lightblue;"></i>
                <p style="font-size:1.5rem;padding:0 0.2rem;">Improve your programming level.</p></h3>
            </div></a></div>
          </div>
          <div class="grid_2 "style="">
            <div class="ih-item "><a>
            <div class="info helpu"style="box-shadow: 5px 5px 10px lightgrey;border-color:lightgray;border-style:solid;border-width:0.1rem;border-radius:1rem;">
              <h3 ><i class="fa fa-money"style="font-size:3rem;padding:0;color:lightgreen;"></i>
                <p style="font-size:1.5rem;padding:0 0.2rem;">Investing in yourself and get your dream job</p></h3>
            </div></a></div>
          </div>

        </div>
      </div>
    </center>
    <br>
    <br>
    <br>
  <br>
<script type="text/javascript">

  $(".mission").hover(function(){  $(this).fadeOut("slow").fadeIn("slow");
  }).mouseleave(function(){
  $(".mission").finish().fadeIn();});
  $(".helpu").hover(function(){  $(this).css("background-color","#f2f2f2");
  //.css("border-style","inset");
  }).mouseleave(function(){
  $(".helpu").finish().css("background-color","white")
  //.css("border-style","outset");
;});

</script>
    <footer id="footer">
      <%- include('../partials/footer'); %>
        </footer></body>
</html>
