<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body id="top">

<header>
  <%- include('../partials/header'); %>
</header>

<section class="content">
  <div class="container">
    <div class="row">
      <div class="grid_12">
        <h3 class="ta__center">Administrator</h3>
      </div>

      <div id="adminMArgin">
          <a class="administratorLinks" href="/create_session">&#3845; Create Session</a><br>
          <br />
          <a class="administratorLinks" href="/invite">&#3845; Invite Trainers and Trainees</a><br>
          <br />
          <a class="administratorLinks" href="/reminde">&#3845; Send Reminder</a>
      </div>
    </div>
  </div>
</section>





<footer id="footer">
  <%- include('../partials/footer'); %>
</footer>
</body>
</html>
