
<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body id="top">

<header>
  <%- include('../partials/header'); %>
</header>
<section class="content">
  <div class="container">
    <div class="row">
      <div class="grid_12">
        <h3 class="ta__center">Create Training Session</h3>
      </div>
      <div class="createS_divs">
        <form id="form" >
          <div id="loginPlace">
            <label for="sname">Programming Languge of session: </label><br/>
              <select id="sname" name="sname">
                <option>Java Languge</option>
                <option>Python Languge</option>
                <option>C++ Languge</option>
                <option>C Languge</option>
                <option>C# Languge</option>
                <option>JavaScript Languge</option>
                <option>jQuery Languge</option>
                <option>JScribt .NET Languge</option>
                <option>MATLAB Languge</option>
                <option>NPL Languge</option>
                <option>Pascal Languge</option>
                <option>Ruby Languge</option>
              </select>
<br /><br />
              <label for="instructor" class="name">
                Session Instructor: <br /><input type="text" id="instructor" name="instructor"  placeholder="name .." value=""  />
              </label><br /><br />
<br /><br />
              <label for="instructor_email" class="email">
                Instructor Email:<input type="email" id="instructor_email"  name="instructor_email" placeholder="name@example.com" value="" data-constraints="@Required @Password" />
              </label><br /><br />
<br /><br />
              <label for="sdate">
                Session Date:<input type="datetime-local" id="sdate"   />
              </label>

              <div class="clear"></div>
              <div id="buttonLoginMargin">
                <div class="btns" id="bttn">
                  <input type="reset" >
                </div>
              </div>
          </div>
        </form>
      </div>
    </div>
</section>

<section>

        <div id="Result"> </div>

        <div class="submitCreateSession">
                <!-- <button  onclick="send_to_server()">Submit</button> -->
                <input id="submitBut" onclick="send_to_server()" type="button" value="Submit"/>
                <br />
                <div class="backTo">
                  <a href="/admin">Back to administrator Page </a>
                </div>
        </div>

      <script>

      function send_to_server()
      {
        $.ajax({
        type: 'POST',
        url: "/sessions",
        data: $('#form').serialize(),

      }).done( function (res_data) {

      $("#Result").text('Successfully Added !!');
      });

      }

      </script>

</section>



<footer id="footer">
  <%- include('../partials/footer'); %>
</footer>
</body>
</html>
