<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="page1" id="top">
<!--==============================
              header
=================================-->

<header>
  <%- include('../partials/header'); %>
</header>

<!--=====================
          Content
======================-->
<section class="content"><div class="ic">More Website Templates @ TemplateMonster.com - 2020!</div>
  <div class="container">
    <div class="row">
      <div class="grid_12">
        <div class="ta__center">
          <h2>Your academy to learn how to code!</h2>
          <div class="st1">It’s Code Time <span class="color1"><a href="http://blog.templatemonster.com/free-website-templates/" rel="nofollow">goodie</a></span>, bla bla bla bla bla. <br> bla a bla of bla <span class="color1"><a href="http://www.templatemonster.com/properties/topic/design-photography/" rel="nofollow">designs</a></span> at bla bla.</div>
          <div class="banners">
            <a href="/programmingLanguages" class="banner">
              <img src="images/bann_img1.jpg" alt="">
              <div class="bann_capt"><span>Programming Languges</span></div>
            </a>
            <a href="/all-sessions" class="banner">
              <img src="images/bann_img2.jpg" alt="">
              <div class="bann_capt"><span>Explore Courses</span></div>
            </a>
            <a href="/trainers" class="banner">
              <img src="images/bann_img3.jpg" alt="">
              <div class="bann_capt"><span>Trainers</span></div>
            </a>
            <a href="/trainees" class="banner">
              <img src="images/bann_img4.jpg" alt="">
              <div class="bann_capt"><span>Trainees</span></div>
            </a>
          </div>
          <div class="clear"></div>
          <h3>About Us</h3>
          <div class="row">
            <div class="grid_8 preffix_2">
              <div class="st1">  Programming Academy is a platform that provide many different courses to learn you
                  how to code in many different programming languages by top instructors .</div>
              <a href="/aboutus" class="btn">more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clear sep__1"></div>
  <div class="container">
    <div class="row">
      <div class="grid_12">
        <h3 class="head1">Latest News</h3>
      </div>
      <div class="grid_6">
        <img src="images/page1_img1.jpg" alt="" width="15px" class="img_inner fleft">
        <div class="extra_wrapper">
          <div class="text1">
            <time datetime="2014-01-01">2020 Jan </time>
            <a href="https://towardsdatascience.com/top-10-in-demand-programming-languages-to-learn-in-2020-4462eb7d8d3e">Python as the #1 programming language</a>
          </div>
          Python has seen enormous growth in demand with no sign of slowing down.
          The programming language ranking site PYPL has ranked Python as the #1
          Programming Languge. Also, Python has surpassed Java and became the 2nd
          most popular language according to GitHub repositories contributions.
        </div>
        <div class="clear"></div>
      </div>
      <div class="grid_6">
        <img src="images/page1_img2.jpg" alt="" class="img_inner fleft">
        <div class="extra_wrapper">
          <div class="text1">
            <time datetime="2014-01-01">2020 Sept </time>
            <a href="https://developer-tech.com/news/2020/sep/14/research-one-four-people-learnt-code-covid19-lockdown/">Learnt to code during COVID-19 </a>
          </div>
          Research from digital transformation firm BoxBoat suggests that around
          one in four people spent time learning coding languages during the COVID-19
          lockdown. The greatest motivations for people setting out to improve their
          skills were career development (55%), personal development (46%), and
          improving job search prospects (33%).
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  <div class="clear sep__1 sp__1"></div>
  <div class="container">
    <div class="row">
      <div class="grid_12">
        <h3>Popular Courses</h3>
      </div>
      <div class="grid_3">
        <div class="ih-item circle effect2 left_to_right"><a href="#">
        <div class="img"><img src="images/circ_img1.jpg" alt="img"></div>
        <div class="info">
          <h3>Taxi Company</h3>
          <p>learn more</p>
        </div></a></div>
      </div>
      <div class="grid_3">
        <div class="ih-item circle effect2 left_to_right"><a href="#">
        <div class="img"><img src="images/circ_img2.jpg" alt="img"></div>
        <div class="info">
          <h3>Mod Portfolio</h3>
          <p>learn more</p>
        </div></a></div>
      </div>
      <div class="grid_3">
        <div class="ih-item circle effect2 left_to_right"><a href="#">
        <div class="img"><img src="images/circ_img3.jpg" alt="img"></div>
        <div class="info">
          <h3>Marathon</h3>
          <p>learn more</p>
        </div></a></div>
      </div>
      <div class="grid_3">
        <div class="ih-item circle effect2 left_to_right"><a href="#">
        <div class="img"><img src="images/circ_img4.jpg" alt="img"></div>
        <div class="info">
          <h3>Travel Agency</h3>
          <p>learn more</p>
        </div></a></div>
      </div>
    </div>
  </div>
</section>
<!--==============================
              footer
=================================-->
<footer id="footer">
  <%- include('../partials/footer'); %>

</footer>
</body>
</html>
