<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body id="top">

<header>
  <%- include('../partials/header'); %>
</header>
<section class="content">
  <div class="container">
    <div class="row">
      <div class="grid_12">
        <h3 class="ta__center">Sign In</h3>
      </div>


          <form id="form1" method="post" action="/login-page">

            <div id="loginPlace">

                <label class="name">
                  <input type="text" id="email"  name="email" placeholder="Email:" value="" data-constraints="@Required @JustLetters" />

                </label>
                <label class="email">
                  <input type="password" name="pw" id="pw" placeholder="Password:" value="" data-constraints="@Required @Password" />

                </label>

                <div class="clear"></div>

                  <div id"submitLoginId" style="font-size: 40px; margin-left:20%;">
                    <!-- <input type="reset" > -->
                    <!-- <input type="submit" value="login"/> -->
                    <button class="btn" type="submit" style="font-size: 25px; padding-left: 18px; padding-right: 18px; padding-bottom:2px;">Login </button>
                    <button class="btn" type="reset" style="font-size: 25px; padding-left: 21px; padding-right: 21px; padding-bottom:2px;">Reset </button>



                  </div>

                <div class="haveAccount">
                  Don't have an account? <a id="Reg" href="/register">Sign up</a>
                </div>



                <!-- <div id="buttonLoginMargin">
                <div class="btns" id="bttn">
                  <a href="#" data-type="reset" class="btn">clear</a>
                      <a  data-type="submit" class="btn">Log in</a>
                  <input type="submit" value="login"/>


                </div>
                <div class="haveAccount">
                  Don't have an account? <a id="Reg" href="/Register.ejs">Sign up</a>
                </div>
              </div> -->

              </div>
          </form>

    </div>
  </div>
</section>



<footer id="footer">
  <%- include('../partials/footer'); %>
</footer>
</body>
</html>
