<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body id="top">

<header>
  <%- include('../partials/header'); %>
</header>
<section class="content"><div class="ic">More Website Templates @ TemplateMonster.com - June 16, 2014!</div>
  <div class="container">
    <div class="row">
      <div class="grid_12">
        <h3 class="ta__center">Sign In</h3>
      </div>
      <!-- <div class="grid_6"> -->
        <!-- <div class="text1 tx__1">Contact Form</div> -->

          <form id="form" >
            <!-- <div class="form_spinner">
              <img src="images/Preloader_4.gif" alt="">
            </div>

            <div class="modal fade response-message">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Modal title</h4>
                  </div>
                  <div class="modal-body">
                    asfasfasf
                  </div>
                </div>
              </div>
            </div>
            <div class="response-error-message"></div> -->
            <div id="loginPlace">

                <label class="name">
                  <input type="text" name="name" placeholder="User Name:" value="" data-constraints="@Required @JustLetters" />
                  <span class="empty-message">*This field is required.</span>
                  <span class="error-message">*This is not a valid name.</span>
                </label>
                <label class="email">
                  <input type="password" name="email" placeholder="Password:" value="" data-constraints="@Required @Password" />
                  <span class="empty-message">*This field is required.</span>
                  <span class="error-message">*This is not a valid email.</span>
                </label>

                <div class="clear"></div>
                <div id="buttonLoginMargin">
                <div class="btns" id="bttn">
                  <a href="#" data-type="reset" class="btn">clear</a>
                  <a href="#" data-type="submit" class="btn">Log in</a>

                </div>
                <div class="haveAccount">
                  Don't have an account? <a id="Reg" href="Register.html">Sign up</a>
                </div>
              </div>

              </div>
          </form>

    </div>
  </div>
</section>

<footer id="footer">
  <%- include('../partials/footer'); %>
</footer>
</body>
</html>
