<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body id="top">
<!--==============================
              header
=================================-->
<header>
<!--==============================
            Stuck menu
=================================-->
<%- include('../partials/header'); %>
</header>
<!--=====================
          Content
======================-->
<section class="content"><div class="ic">More Website Templates @ TemplateMonster.com - June 16, 2014!</div>
<center>
<h2><%- Registertitle%> Profile ..</h2>
</center>


</section>
<!--==============================
              footer
=================================-->
<footer id="footer">
  <%- include('../partials/footer'); %>
</footer>
</body>
</html>
