<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body id="top">
<!--==============================
              header
=================================-->
<header>
<!--==============================
            Stuck menu
=================================-->
<%- include('../partials/header'); %>
</header>
<!--=====================
          Content
======================-->
<section class="content">
<center>
<h3><%- Registertitle%> Profile ..</h3>


</center>

</section>
<!--==============================
              footer
=================================-->
<footer id="footer">
  <%- include('../partials/footer'); %>
</footer>
</body>
</html>
