<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>

<body id="top">

<header>
  <%- include('../partials/header'); %>
</header>

<!--=====================
          Content
======================-->
<section class="content"><div class="ic">More Website Templates @ TemplateMonster.com - June 16, 2014!</div>
  <div class="container">
    <div class="row">
      <div class="grid_12">
        <h3 class="ta__center">Popular Programming Languages</h3>
      </div>
      <div class="grid_6">
        <div class="block1">
          <img src="images/pythonLogo.jpg" alt="" class="img_inner fleft">
          <div class="extra_wrapper">
            <div class="text1"><a href="https://www.python.org">Python</a></div>
            <p>The most user-friendly programming language is Python. It’s often said that Python’s syntax almost English-like,
 that makes it a popular choice for beginners.</p>
 If you’re interested in back-end web development, for example, then the open-source Django framework,
written in Python, is popular, easy to learn, and feature-rich.
Also, if you are interested to work in the fields of scientific computing, mathematics, and engineering;
Python has packages such as NumPy and SciPy that are commonly used in those filelds.

          </div>
        </div>
      </div>
      <div class="grid_6">
        <div class="block1">
          <img src="images/javascriptlogo.jpg" alt="" class="img_inner fleft">
          <div class="extra_wrapper">
            <div class="text1"><a href="https://www.javascript.com">JavaScript</a></div>
            <p>You can not be a software developer recently without using JavaScript.
according to Stack Overflow's 2019 Developer Survey,
JavaScript is the most popular language among developers for the seventh year in a row. </p>
Around 70 percent of survey respondents reported that they had used JavaScript in the past year.
Along with HTML and CSS, JavaScript is essential to front-end web development.
Facebook, Twitter, Gmail and YouTube
rely on JavaScript to create interactive web pages and dynamically display content to users.
it can also be used on the server-side through Node.js to build scalable network applications.

          </div>
        </div>
      </div>
      <div class="clear sep__2"></div>
      <div class="grid_6">
        <div class="block1">
          <img src="images/java4.png" alt="" class="img_inner fleft">
          <div class="extra_wrapper">
            <div class="text1"><a href="https://www.java.com">Java</a></div>
            <p>Java can be used to create complete applications that may run on a single computer or be distributed among servers and clients in a network. It can also be used to build a small application module</p>
            Java has historically provided with the exhaustive testing, updating and consistency of delivery. The interesred thing is that you can write software on one platform and run it on virtually any other platform.
          </div>
        </div>
      </div>
      <div class="grid_6">
        <div class="block1">
          <img src="images/rubyLogo.jpg" alt="" class="img_inner fleft">
          <div class="extra_wrapper">
            <div class="text1"><a href="https://www.ruby-lang.org/en">Ruby</a></div>
            <p>Ruby is a scripting language built from the ground up for use in front end and back end web development and similar applications </p>
            Its fans call it a beautiful, artful language
          </div>
        </div>
      </div>
    </div>
  </div>

</section>


<footer id="footer">
  <%- include('../partials/footer'); %>
</footer>
</body>
</html>
