<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body id="top">

<header>
  <%- include('../partials/header'); %>
</header>

<section class="content">
  <div class="container">
    <div class="row">
      <div class="grid_12">
        <h3 class="ta__center">Registration</h3>
      </div>


      <div class="createS_divs">
        <form id="form" id="session_form">
          <div id="loginPlace">

              <div class="haveAccount">
                Already have an account? <a id="Reg" href="/login">Log in here</a>
              </div>
<br /><br />
              <label for="email" class="email">
                Email:<input type="Email" id="email"  name="email" placeholder="name@example.com" value="" data-constraints="@Required @Password" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required />
              </label><br /><br />

<br /><br />


              <label for="pw" class="password">
                Password:<input type="password" name="pw" id="pw" placeholder="Password.." value="" data-constraints="@Required @Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required/>
              </label><br /><br />
<br /><br />
              <label for="pw2" class="password">
                Confirm Password:<input type="password" name="pw2" id="pw2" placeholder="Confirm Password.." value="" data-constraints="@Required @Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required/>
              </label><br /><br />

              <div class="clear"></div>
              <div id="buttonLoginMargin">
                <div class="btns" id="bttn">
                  <input type="reset" >
                </div>
              </div>



          </div>
        </form>
      </div>
    </div>
</section>

<section>

        <div id="Result"> </div>


        <div class="submitCreateSession">
                <!-- <button class="btn btn-primary" type="submit" onclick="send_to_server()" >Register </button> -->
                <input  id="submitBut" onclick="send_to_server()" type="button" value="Register"/>
                <br />
                <div class="backTo">
                  <a href="/">Back to Home Page </a>
                </div>
        </div>



      <script>

      function send_to_server()
      {
        $.ajax({
            type: 'POST',
            url: "/trainees",
            data: $('#register_form').serialize(),

        }).done( function (res_data) {

              $("#Result").text('Successfully Register!!');
        });

      }

      </script>

</section>



    <footer id="footer">
      <%- include('../partials/footer'); %>
    </footer>
  </body>
</html>
