<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body id="top">

<header>
  <%- include('../partials/header'); %>
</header>



<section class="content">
  <div class="container">
    <div class="row">
      <div class="grid_12">
        <h3 class="ta__center">Reminde Trainees</h3>
      </div>


    </div>


          <div class="backToAdmin">
            <a id="Reg" href="/admin">Back to administration page</a>
          </div>



    </div>
</section>





<footer id="footer">
  <%- include('../partials/footer'); %>
</footer>
</body>
</html>
