<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body id="top">
<!--==============================
              header
=================================-->
<header>
<!--==============================
            Stuck menu
=================================-->
<%- include('../partials/header'); %>
</header>
<!--=====================
          Content
======================-->
<section class="content"><div class="ic">More Website Templates @ TemplateMonster.com - June 16, 2014!</div>
  <div class="container">
    <div class="row">
      <div class="grid_12">
        <h3 class="ta__center">Main Services</h3>
      </div>


      <div class="grid_8"style=" padding:0 12rem;">
        <div class="block1">
          <img src="images/services-img1.jpg" alt="" class="img_inner fright" style="width:18rem;height:15rem;">
          <div class="extra_wrapper">
            <div class="text1"><br>Register with us</div>
            <p style="font-size:1.2rem;line-height: 1.5;">Start developing your programming skills and
              register with us now for free to be the first to know when we add a new course!</div>
        </div>
      </div>
      <div class="clear sep__2"></div>
      <div class="grid_8"style=" padding:0 12rem;">
        <div class="block1">
          <img src="images/services-img2.jpg" alt="" class="img_inner fleft" style="width:18rem;height:15rem;">
          <div class="extra_wrapper">
            <div class="text1"><br>Tech with us</div>
            <p style="font-size:1.2rem;line-height: 1.5;"> If you are teaching programming
               and want to transfer educational content to a wider audience, contact us          </div>
        </div>
      </div>
      <div class="clear sep__2"></div>
      <div class="grid_8"style=" padding:0 12rem;">
        <div class="block1">
          <img src="images/services-img3.jpg" alt="" class="img_inner fright"style="width:18rem;height:15rem;">
          <div class="extra_wrapper">
            <div class="text1"><br>Enroll in a course</div>
            <p style="font-size:1.2rem;line-height: 1.5;">We have many diverse courses.
              Browse our courses list and enroll in a course that you
               would like to learn.
               We will email you to remind you when the course starts.</div>
        </div>
      </div>
      <div class="clear sep__2"></div>
      <div class="grid_8"style=" padding:0 12rem;">
        <div class="block1">
          <img src="images/services-img4.jpg" alt="" class="img_inner fleft"style="width:18rem;height:15rem;">
          <div class="extra_wrapper">
            <div class="text1"><br>Select the right languages</div>
            <p style="font-size:1.2rem;line-height: 1.5;">Discover which programming language is the right one for a specific task
              and gain an understanding of the similarities between many languages.
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clear sep__1 sp__2"></div>
  <div class="container">
    <div class="row">
      <div class="grid_12">
        <h3>To know more about our services</h3>
      </div>

        <div class="grid_4"style=" margin-left: 10rem;" >
          <div class="ih-item square effect9 right_to_left"><a href="#">
          <div class="img"><img src="images/services-img5(1).jpg" alt="img"style="height:11rem;">
             <h3 style="  position:relative; background: black;opacity: 0.8;padding: 0;bottom:4rem;
             color:white;text-align:center;">For Trainees</h3></div>

          <div class="info">
            <h3 style="font-size:2rem;">For Trainees</h3>

            <p style="font-size:2rem;">Click here</p>
          </div></a></div>
        </div>
          <div class="grid_4" style=" margin-left: 10rem;">
            <div class="ih-item square effect9 right_to_left"><a href="#">
            <div class="img"><img src="images/services-img6.jpg" alt="img"style="height:11rem;">
               <h3 style="  position:relative; background: black;opacity: 0.8;padding: 0;bottom:4rem;
               color:white;text-align:center;">For Trainers</h3></div>

            <div class="info">
              <h3 style="font-size:2rem;">For Trainers</h3>

              <p style="font-size:2rem;">Click here</p>
            </div></a></div>
          </div>
        </div>
      </div>



      <!-- <div class="grid_4 preffix_1">
        <h3>Why Choose Us?</h3>
        <p>Besit ametconsecteturertolom  werto monikosit amet ultricies erateroli me rutruma auctorerttu terolp sadertto mertoInteger convallis orcidet wertolo monoter lom</p>
        <ul class="list color1">
          <li><a href="#">Besit ametconsecteturertolom  werto monikosit </a></li>
          <li><a href="#">Amet ultricies erateroli me rutruma auctorerttu </a></li>
          <li><a href="#">Terolp sadertto mertoInteger convawertolo  </a></li>
          <li><a href="#">Amertoloolaoreetatwertlim wernom fertolom </a></li>
          <li><a href="#">Dolor sit amsecteturertolom  lid be</a></li>
          <li><a href="#">Moniko lomon dertlosit amet ultricies erater </a></li>
          <li><a href="#">Rutruma auctorert retlomoni molokintromoli</a></li>
          <li><a href="#">Convallis orci vel mi laoreetat terolo </a></li>
        </ul>
        Fmetconsecteturertolom  werto monikosit amet ultricies erateroli me rutruma auctorerttu terolp sadertto mertoInteger convallis orcidet wertolo monoter
      </div> -->
    </div>
  </div>
</section>
<!--==============================
              footer
=================================-->
<footer id="footer">
  <%- include('../partials/footer'); %>
</footer>
</body>
</html>
