<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body id="top">

<header>
  <%- include('../partials/header'); %>
</header>
<section class="content"><div class="ic">More Website Templates @ TemplateMonster.com - June 16, 2014!</div>
  <div class="container">
    <div class="row">
      <div class="grid_12">
        <h3 class="ta__center"><em>Trainees</em></h3>
        <h4>Universities and collages students, or anyone who want to learn programming skills for free..</h4>

      </div>
      <div class="grid_8"style=" padding:0 12rem;">
        <div class="block1">
          <img src="images/student.jpg" alt="" class="img_inner fright" style="width:18rem;height:15rem;">
          <div class="extra_wrapper">

            <h5> if you want to learn programming skills from scratch,
              or you want to improve your skills  <a href="/all-sessions"> Join our sessions  </a> to learn from professional instructors, and to get and share valued certificates  </h5>
            <p style="font-size:1.2rem;line-height: 1.5;">   </div>
        </div>
      </div>
</section>


<footer id="footer">
  <%- include('../partials/footer'); %>
</footer>
</body>
</html>
