<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body id="top">

<header>
  <%- include('../partials/header'); %>
</header>

<section id="stuck_container">
    <div class="container">
      <div class="row">
        <div class="grid_12">
        <h1>
          <a href="index.html">

          </a>
        </h1>

            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
</header>
<!--=====================
          Content
======================-->
<section class="content"><div class="ic">More Website Templates @ TemplateMonster.com - June 16, 2014!</div>
  <div class="container">
    <div class="row">
      <div class="grid_12">
        <h3 class="ta__center"> Trainees</h3>
                <h4>Universities and collages students, or anyone who want to learn programming skills for free..</h4>
<h5> if you want to learn programming skills from scratch, or you want to improve your skills  <a href="all-sessions.ejs"> Join our sessions  </a> To learn from professional instructors, and to get and share valued certificates  </h5>

      </div>

          </div>
        </div>
      </div>


</section>


<footer id="footer">
  <%- include('../partials/footer'); %>
</footer>
</body>
</html>
