<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body id="top">

<header>
  <%- include('../partials/header'); %>
</header>

<section id="stuck_container">
    <div class="container">
      <div class="row">
        <div class="grid_12">
        <h1>
          <a href="index.html">

          </a>
        </h1>

            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
</header>
<!--=====================
          Content
======================-->
<section class="content"><div class="ic">More Website Templates @ TemplateMonster.com - June 16, 2014!</div>
  <div class="container">
    <div class="row">
      <div class="grid_12">
        <h3 class="ta__center">Our trainers</h3>
                <h4>Professional instructors teach in Programmer's Academy;
such as volunteer academicians and professional programmers around the world..</h4>
<h5> if you are one of them, you can <a href="index-2.ejs"> join us </a> and be a Programmers Academy's trainer..  </h5>

      </div>

          </div>
        </div>
      </div>


</section>


<footer id="footer">
  <%- include('../partials/footer'); %>
</footer>
</body>
</html>
